@import "theme"

window {
    location: north east;
    x-offset: -24;
    y-offset: 36;
    width: 2.85%;
}

entry {
    enabled: false;
}

listview {
    layout: vertical;
    spacing: 5px;
    padding: 0px 0px;
    lines: 3;
}